<ion-view title="Favorites" cache-view="false" id="page19" style="background-color: rgb(242, 242, 242);">
  <ion-content padding="false" class="has-header">
    <div id="favorites-container32" class="categories">
      <div id="favorites-container31" class="ads transp creator-container"></div>
      <div id="favorites-markdown18" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Slide</strong> to see options</p>
      </div>
      <ion-list id="favorites-list14" ng-if="hasfavorites">
        
        <div ng-repeat="fav in favorites">
          <ion-item class="item-thumbnail-left item-icon-right"  ui-sref="menu.productName(fav)" style="">
            <img ng-show="db.offers[fav].image_id" src="{{baseurl+db.images[db.offers[fav].image_id]}}">
            <h2>{{db.offers[fav].name}}</h2>
            <p>{{db.offers[fav].description}}</p>
            <i class="icon ion-android-arrow-dropright icon-accessory"></i>
            <ion-option-button class="button-assertive" ng-click="deleteFav(fav)">Delete</ion-option-button>
          </ion-item>
        </div>
      </ion-list>
      <p ng-if="favorites==null">
        You don't have any favorites, tray adding some and come back.
      </p>
    </div>
  </ion-content>
</ion-view>