<ion-view title="Home" id="page1" style="background-color: rgb(242, 242, 242);" >
  <ion-content padding="false" class="has-header">
    <div id="home-container19" class="head">
      <div>
        <img src="img/PyK3B4YRwqWRBHwQFnwo_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div id="home-container20" class="categories">
      <div id="home-container21" class="ads transp creator-container"></div>
      <ion-list id="home-list11">
  
        <ion-item ng-repeat="category in categories" class="item-thumbnail-left" id="home-list-item38" ui-sref="menu.products()" style="">
        <h2>{{category.name}}</h2>
          <p>{{category.description}}</p>
        </ion-item>

      </ion-list>

    </div>
  </ion-content>
</ion-view>