<ion-view title="Home" id="page1" style="background-color: rgb(242, 242, 242);" >
  <ion-content padding="false" class="has-header">
    <div id="home-container19" class="head">
      <div>
        <img src="img/PyK3B4YRwqWRBHwQFnwo_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div id="home-container20" class="categories">
      <div id="home-container21" class="ads transp creator-container"></div>
      <ion-list id="home-list11">
      <div ng-repeat="category in database.categories">

         <div ng-if="category.parent_id === null">
            <ion-item ui-sref="menu.products({cat_id:category.id})" style="" class="item item-thumbnail-left">
               
                   <img src="{{baseurl+database.images[category.image_id].url}}" ng-hide="category.image_id===null">
                
                <h2>{{category.name}}</h2>
                <p>{{category.description}}</p> 
            </ion-item>
          </div>

      </div>

      </ion-list>

    </div>
  </ion-content>
</ion-view>