<ion-view title="Intro" hide-nav-bar="true" hide-back-button="true" ng-init="sliderStyle={}" cache-view="false" id="page17" style="">

  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">

    <ion-slides disable-side-menu-drag="" style="background-color:{{background_styler}}; transition: background 1s ease; " options="{'speed': 500,'pager':true,'loop': false,'parallax':true,'paginationType':'fraction'}" slider="slider.data" delegate-handle="slider2" id="intro-slider2"  >
      <ion-slide-page id="intro-slide27" data-background="#F1EA2B" class="padding" ng-style="sliderStyle">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="intro-heading8" style="color: rgb(0, 0, 0); text-align: center;">WELCOME TO</h1>
              <div>
                <img src="img/bZ3vrZwT0G2hJGugPUeA_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="height: 70px;"></div>
              <h4 id="intro-heading9" style="color: rgb(60, 60, 60); text-align: center;">The only app with hundreds of vegan products &amp; companies</h4>
              <a ui-sref="menu.home()" ng-hide="true" id="settings-button10" class="button button-block">Skip this...</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="intro-slide21" data-background="#3A81F8" ng-style="sliderStyle" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div ng-if="false">
              <h1 id="intro-heading10" style="color: rgb(244, 244, 244); text-align: center;">Easily search producst by name or company</h1>
              <h4 id="intro-heading11" style="color: rgb(240, 240, 240); font-weight: 300; text-align: center;">Add to shopping list, find where to buy and use it to make delicious suggested recipes.</h4>
            </div>
              <div>
                <img src="img/slider3.png" style="display: block; width: auto; height: 70vh; margin-left: auto; margin-right: auto;">
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="intro-slide22" data-background="#C03AF8" ng-style="sliderStyle" class="padding">
        <div style="display:table;width:100%;height:80vh;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/slider2.png" style="display: block; width: auto; height: 70vh; margin-left: auto; margin-right: auto;">
              </div>
              <div ng-if="false">
              <h1 id="intro-heading12" style="color: rgb(244, 244, 244); text-align: center;">Amazing userful tools</h1>
              <h4 id="intro-heading13" style="color: rgb(240, 240, 240); text-align: center;">Share with your friends, save to favorites or send to shopping cart</h4>
            </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="intro-slide23" data-background="#F83A3A;" ng-style="sliderStyle" class="padding">
        <h1 style="text-align: center;color:rgb(244, 244, 244); ">Where are you from?</h1>

        <div class="countrycontainer">
          <div class="row responsive-em" style="width:75% ;margin:0 auto;">
             
              <div class="col col-50" ui-sref="login({country_id:'US'})" style="background-image: url('img/US.png');background-position:center;background-size:contain;background-repeat: no-repeat;height:20vh; " >
                <a ui-sref="login({conutry_id:'US'})">
                    
                  </a>
              </div>
              <div class="col col-50" ui-sref="login({country_id:'GB'})" style="background-image: url('img/UK.png');background-position:center;background-size:contain;background-repeat: no-repeat;height:20vh; " >
                <a ui-sref="login({conutry_id:'GB'})">
                    
                  </a>
              </div>
              
          </div>

          <div class="row responsive-em" style="width:75% ;margin:0 auto;">
             
              <div class="col col-50" ui-sref="login({country_id:'DE'})" style="background-image: url('img/GE.png');background-position:center;background-size:contain;background-repeat: no-repeat;height:20vh; " >
                <a ui-sref="login({conutry_id:'DE'})">
                    
                  </a>
              </div>
              <div class="col col-50" ui-sref="login({country_id:'IN'})" style="background-image: url('img/IN.png');background-position:center;background-size:contain;background-repeat: no-repeat;height:20vh; " >
                <a ui-sref="login({conutry_id:'IN'})">
                    
                  </a>
              </div>
              
          </div>
          <div class="row responsive-em" style="width:75% ;margin:0 auto;">
             
              <div class="col col-50" ui-sref="login({country_id:'AU'})" style="background-image: url('img/AU.png');background-position:center;background-size:contain;background-repeat: no-repeat;height:20vh; " >
                <a ui-sref="login({conutry_id:'AU'})">
                    
                  </a>
              </div>
              <div class="col col-50" ui-sref="login({country_id:'WW'})" style="background-image: url('img/nocountry.png');background-position:center;background-size:contain;background-repeat: no-repeat;height:20vh; " >
                <a ui-sref="login({conutry_id:null})">
                    
                  </a>
              </div>
              
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>

</ion-view>