<ion-view title="RecipeName" id="page13" style="background-color: rgb(244, 244, 244);">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon No Icon"> Edit</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="recipeName-card21">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="recipeName-list-item-container12" style="">
        <div id="recipeName-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Ingredients</strong>
          </p>
        </div>
      </div>
      <ion-list id="recipeName-list8">
        <ion-item id="recipeName-list-item31" style="">Item 1</ion-item>
        <ion-item id="recipeName-list-item32" style="">Item 2</ion-item>
        <ion-item id="recipeName-list-item33" style="">Item 3</ion-item>
      </ion-list>
      <ion-list id="recipeName-list9">
        <div class="item item-body" id="recipeName-list-item-container10" style="">
          <div id="recipeName-markdown13" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Directions</strong>
            </p>
          </div>
        </div>
        <ion-item id="recipeName-list-item34" style="">Item 1</ion-item>
        <ion-item id="recipeName-list-item35" style="">Item 2</ion-item>
        <ion-item id="recipeName-list-item36" style="">Item 3</ion-item>
      </ion-list>
      <ion-item class="item-icon-left positive" id="recipeName-list-item27" style="">
        <i class="icon ion-android-share-alt"></i>Share</ion-item>
    </div>
  </ion-content>
</ion-view>