<ion-view title="Settings" id="page9" style="background-color: rgb(255, 255, 255);">
  <ion-content padding="true" class="has-header">
    <div id="settings-container12" class="settings">
      <form id="settings-form6" class="list">
        <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="settings-toggle4" name="notifications">Notifications</ion-toggle>
        <a ui-sref="menu.editProfile()" id="settings-button6" style="color:#3C3C3C;text-align:left;" class="button button-positive button-block button-icon icon-right ion-ios-arrow-right">Profile settings</a>
        <a ui-sref="menu.aboutUs()" id="settings-button8" style="color:#3C3C3C;text-align:left;" class="button button-positive button-block button-icon icon-right ion-ios-arrow-right">About</a>
        <a ui-sref="menu.privacyPolicy()" id="settings-button9" style="color:#3C3C3C;text-align:left;" class="button button-positive button-block button-icon icon-right ion-ios-arrow-right">Privacy Policy</a>
      </form>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ng-click="logout()" id="settings-button10" class="button button-assertive button-block" ng-if="loged">Log Out</a>
  </ion-content> 
  <div class="tabs tabs-icon-left">
      <a class="tab-item" ui-sref="menu.search()">
          <i class="icon ion-search"></i>
          Search
        </a>
    <a class="tab-item" ui-sref="menu.home()">
      <i class="icon ion-home"></i>
      Home
    </a>
    <a class="tab-item" ui-sref="menu.favorites()">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item" ui-sref="menu.settings()">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</ion-view>