<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VeganShopinGuide</name>
    <description>
      $app description
    </description>
    <author email="dev@ansertm.io" href="http://asertm.io">
     Wilferson Avila and Jonathan Barillas
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="http://veganshoppingapp.com/*" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <preference name="SplashScreen" value="res/screen/all/screen-loading.png" />
    <preference name="SplashScreenDelay" value="60000" />
    <platform name="browser">
        <preference name="SplashScreen" value="res/screen/all/screen-loading.png" />
        <preference name="SplashScreenDelay" value="30000" />
        <preference name="SplashScreenBackgroundColor" value="white" />
        <preference name="ShowSplashScreen" value="true" />
        <preference name="SplashScreenWidth" value="600" />
        <preference name="SplashScreenHeight" value="300" />
    </platform>
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <engine name="browser" spec="^5.0.3" />
    <engine name="android" spec="^7.0.0" />
</widget>
