.unlikeicon{
    animation: likefadein linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    
  }
  
  .likeicon{
    animation: likefadeout linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
  
   
  }
  @keyframes likefadeout{
    100% {
      opacity:1;
      transform:  scaleX(1.00) scaleY(1.00) ;
    }
    50% {
      opacity:1;
      transform:  scaleX(0.95) scaleY(0.95) ;
    }
    25% {
      opacity:1;
      transform:  scaleX(1.10) scaleY(1.10) ;
    }
    0% {
      opacity:0;
      transform:  scaleX(0.30) scaleY(0.30) ;
    }
  }
  @keyframes likefadein{
    0% {
      opacity:1;
      transform:  scaleX(1.00) scaleY(1.00) ;
    }
    25% {
      opacity:1;
      transform:  scaleX(0.95) scaleY(0.95) ;
    }
    50% {
      opacity:1;
      transform:  scaleX(1.10) scaleY(1.10) ;
    }
    100% {
      opacity:0;
      transform:  scaleX(0.30) scaleY(0.30) ;
    }
  }
  h2.one-word-per-line {
    word-spacing: 3000px; 
    text-align: center;
    padding-top: 10%;
} 

div.category-item{
    background-color: rgb(53, 137, 206); 
    height:50vh;
    float: left;   
    background-size: 50vw 50vh;
    transition: opacity 0.5s ease;
}

div.category-item:hover{
    opacity: 0.5;
    
}

/*
Search animations
*/

.query-contianer {
    background:white;
    border:1px solid black;
    list-style:none;
    margin:0;
    padding:0 10px;
  }
  
  .animate-repeat {
    line-height:40px;
    list-style:none;
    box-sizing:border-box;
  }
  
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter,
  .animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }
  
  .animate-repeat.ng-leave.ng-leave-active,
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
  }
  
  .animate-repeat.ng-leave,
  .animate-repeat.ng-move.ng-move-active,
  .animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
  }